* {
  margin: 0;
  padding: 0;
}
nav {
  height: 6rem;
  background: transparent;
  color: rgb(204, 214, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
img {
  z-index: -1;
  position: fixed;
  overflow: scroll;
  width: 113%;
  /* height: 100vh; */
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 33rem;
  width: 25rem;
  border: 2px solid;
  box-shadow: 2rem 0.2rem 5rem 2rem;
  border-radius: 2em;
  display: grid;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(10px);
}
.header {
  margin-top: 5%;
  color: rgb(204, 214, 240);
  /* color: #0b132b; */
  font-size: 6rem;
}

input {
  margin-top: 5%;
  border-radius: 0.3em;
  color: rgb(204, 214, 240);
  width: 93%;
  padding: 3%;
  font-size: 1.4rem;
  background: transparent;
  border: 1px solid;
}
button {
  background: transparent;
  backdrop-filter: blur(300px);
  color: rgb(204, 214, 240);
  border: 0.5px solid;
  border-radius: 0.3em;
  margin-top: 5%;
  height: 3rem;
  width: 49%;
  font-size: 1.3rem;
}
#result {
  height: 2rem;
  width: 100%;
  /* border: 1px solid; */
  margin-top: 5%;
  color: rgb(204, 214, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}
.history {
  height: 12rem;
  width: 100%;
  border: 1px solid;
  margin-top: 5%;
  color: rgb(204, 214, 240);
  overflow: scroll;
}
#aa {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 2.9rem;
  border: 1px solid;
  position: relative;
  top: 0;
}
